<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EmpowerBharat- Coming Soon</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/startups.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      
      <a href="/"><img src="/img/logo.png" alt="" class="img-fluid" style="max-height: 72px;"></a>
      
      
    </div>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/startups">Startups</a></li>
        <li><a class="nav-link scrollto" href="/investors">Investors</a></li>
        <li><a class="nav-link scrollto " href="/featured">Featured</a></li>
        <li><a class="nav-link scrollto" href="/schools_colleges">Stories</a></li>
        <li><a class="nav-link scrollto" href="/learn">Learn</a></li>
        <% if(locals.user){ %>
          <% if(locals.user.companyName){ %>
            <li><a class="nav-link scrollto" href="/startup_db"><span style="color: #957DAD;"> Profile  </span></a></li>
            <li><a class="nav-link scrollto" href="/startup/sign-out"><span style="color: #957DAD;"> Sign Out  </span></a></li>
            <% }else{ %>
              <li><a class="nav-link scrollto" href="/investor_db"><span style="color: #957DAD;"> Profile  </span></a></li>
              <li><a class="nav-link scrollto" href="/investor/sign-out"><span style="color: #957DAD;"> Sign Out </span></a>
              </li>
            <% } %>
        <% }else{ %>
              <li><a class="nav-link scrollto" href="/login"><span style="color: #0A0A55;">Sign In</span></a></li>
            <% } %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

 <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2 style="margin-bottom: 10x;">COMING SOON!</h2>
        <p>Stay tuned for more updates, have a nice day!</p>
        <a href="/" class="button3" style="margin-top: 30px; margin-bottom: -60px;">Back to Home</a>
      </div>

    </div>

    </div>
  </section>
 
   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>EmpowerBharat</h3>
            <p>
              Delhi Technological University <br>
              New Delhi, India<br><br>
              <strong>Phone:</strong> +91 1234567890<br>
              <strong>Email:</strong> info@EmpowerBharat.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="#services">Features</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="#portfolio">Startups on Growth</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="#info-box">FAQs</a></li>
            </ul>
          </div>
        
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Explore</h4>
            <ul>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="/startups">Startups</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="/investors">Investors</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="/featured">Featured</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="/schools_colleges">Stories to Inspire</a></li>
              <li><i class="bx bx-chevron-right" style = "color: #FDBC02;"></i> <a href="/learn">Learn</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter to stay updated.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;<strong><span> EmpowerBharat</span></strong>
      </div>
      <div class="credits">
        
        Made by Nikhilesh Jain & Palak Gupta
      </div>
    </div>
  </footer><!-- End Footer -->



  

  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>